*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0%;
}
.Container{
    display: flex;
    justify-content: space-evenly;
}
.Justify-Center{
    justify-content: center;
}
.Navigation{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    margin-top: 0;
    font-size: xx-large;
}
.Title{
    justify-content: center;
}
.Main{
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: 0;
}
.Profile{
    flex: 1;
    width: 25%;
}
.Status{
    flex: 1;
    width: 50%;
}
.Neil{
    border-style: solid;
    border-color: black;
}
.Nicole{
margin-top: 40px;
border-style: solid;
border-color: black;
}
.Jim{
margin-top: 40px;
border-style: solid;
border-color: black;
}
.Name{
    font-size: xx-large;
    justify-content: space-between;
}
.Buttons1{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.Details{

}